# dev env
.venv/
.vscode/
__pycache__/
.mypy_cache

# daedalus data
playground/daedalus/daedalus2/feature_extractor
playground/daedalus/daedalus2/features_database
playground/daedalus/daedalus2/post-processed
playground/daedalus/daedalus2/dataset.zip
playground/daedalus/daedalus2/marquinho*.jpg
